.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sliders {
  display: flex;
  width: 100px;
}

.rangeslider-vertical {
  height: calc(100vh - 350px);
}

input {
  width: 70px;
  margin: 5px;
}

select {
  margin: 8px
}

button {
  margin: 8px
}