html, body, #app, #root, #app>div {
height: 100% !important;
}


::-webkit-scrollbar{
    width: 20px; 
    height: 40px;
    padding-top: 40px;
}

::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    /* border: 1px solid rgb(109, 105, 105); */
    border-radius: 5px;

}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    height: 40px;
    width: 8px;
    border: 1px solid rgb(109, 105, 105);
    background: rgb(111,111,111);
    -webkit-box-shadow: 0 1px 1px rgb(0,0,0);
    background: -webkit-linear-gradient(rgb(200,200,200), rgb(150,150,150));
}

::-webkit-scrollbar-track-piece {
    height: 30px;
    width: 30px;
}
